Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: winston-transport, contrib-test-utils, sql-common, redis-common, propagation-utils, id-generator-aws-xray, host-metrics, baggage-span-processor, baggage-log-record-processor, instrumentation-winston, instrumentation-router, instrumentation-restify, instrumentation-redis-4, instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-oracledb, instrumentation-net, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mysql, instrumentation-mongodb, instrumentation-memcached, instrumentation-koa, instrumentation-knex, instrumentation-ioredis, instrumentation-hapi, instrumentation-graphql, instrumentation-generic-pool, instrumentation-fastify, instrumentation-express, instrumentation-dns, instrumentation-connect, instrumentation-cassandra-driver, instrumentation-bunyan, instrumentation-aws-sdk, instrumentation-aws-lambda, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-runtime-node, instrumentation-mongoose, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-fs, instrumentation-dataloader, instrumentation-cucumber, instrumentation-amqplib, plugin-react-load, instrumentation-user-interaction, instrumentation-long-task, instrumentation-document-load, propagator-aws-xray-lambda, propagator-aws-xray, propagator-ot-trace, propagator-instana, resource-detector-instana, resource-detector-github, resource-detector-gcp, resource-detector-container, resource-detector-azure, resource-detector-aws, resource-detector-alibaba-cloud, auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators

Path conditions:
  winston-transport: any of: packages/winston-transport/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  sql-common: any of: packages/opentelemetry-sql-common/
  redis-common: any of: packages/opentelemetry-redis-common/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  instrumentation-winston: any of: plugins/node/opentelemetry-instrumentation-winston/
  instrumentation-router: any of: plugins/node/opentelemetry-instrumentation-router/
  instrumentation-restify: any of: plugins/node/opentelemetry-instrumentation-restify/
  instrumentation-redis-4: any of: plugins/node/opentelemetry-instrumentation-redis-4/
  instrumentation-redis: any of: plugins/node/opentelemetry-instrumentation-redis/
  instrumentation-pino: any of: plugins/node/opentelemetry-instrumentation-pino/
  instrumentation-pg: any of: plugins/node/opentelemetry-instrumentation-pg/
  instrumentation-oracledb: any of: plugins/node/opentelemetry-instrumentation-oracledb/
  instrumentation-net: any of: plugins/node/opentelemetry-instrumentation-net/
  instrumentation-nestjs-core: any of: plugins/node/opentelemetry-instrumentation-nestjs-core/
  instrumentation-mysql2: any of: plugins/node/opentelemetry-instrumentation-mysql2/
  instrumentation-mysql: any of: plugins/node/opentelemetry-instrumentation-mysql/
  instrumentation-mongodb: any of: plugins/node/opentelemetry-instrumentation-mongodb/
  instrumentation-memcached: any of: plugins/node/opentelemetry-instrumentation-memcached/
  instrumentation-koa: any of: plugins/node/opentelemetry-instrumentation-koa/
  instrumentation-knex: any of: plugins/node/opentelemetry-instrumentation-knex/
  instrumentation-ioredis: any of: plugins/node/opentelemetry-instrumentation-ioredis/
  instrumentation-hapi: any of: plugins/node/opentelemetry-instrumentation-hapi/
  instrumentation-graphql: any of: plugins/node/opentelemetry-instrumentation-graphql/
  instrumentation-generic-pool: any of: plugins/node/opentelemetry-instrumentation-generic-pool/
  instrumentation-fastify: any of: plugins/node/opentelemetry-instrumentation-fastify/
  instrumentation-express: any of: plugins/node/opentelemetry-instrumentation-express/
  instrumentation-dns: any of: plugins/node/opentelemetry-instrumentation-dns/
  instrumentation-connect: any of: plugins/node/opentelemetry-instrumentation-connect/
  instrumentation-cassandra-driver: any of: plugins/node/opentelemetry-instrumentation-cassandra/
  instrumentation-bunyan: any of: plugins/node/opentelemetry-instrumentation-bunyan/
  instrumentation-aws-sdk: any of: plugins/node/opentelemetry-instrumentation-aws-sdk/
  instrumentation-aws-lambda: any of: plugins/node/opentelemetry-instrumentation-aws-lambda/
  instrumentation-undici: any of: plugins/node/instrumentation-undici/
  instrumentation-typeorm: any of: plugins/node/instrumentation-typeorm/
  instrumentation-tedious: any of: plugins/node/instrumentation-tedious/
  instrumentation-socket.io: any of: plugins/node/instrumentation-socket.io/
  instrumentation-runtime-node: any of: plugins/node/instrumentation-runtime-node/
  instrumentation-mongoose: any of: plugins/node/instrumentation-mongoose/
  instrumentation-lru-memoizer: any of: plugins/node/instrumentation-lru-memoizer/
  instrumentation-kafkajs: any of: plugins/node/instrumentation-kafkajs/
  instrumentation-fs: any of: plugins/node/instrumentation-fs/
  instrumentation-dataloader: any of: plugins/node/instrumentation-dataloader/
  instrumentation-cucumber: any of: plugins/node/instrumentation-cucumber/
  instrumentation-amqplib: any of: plugins/node/instrumentation-amqplib/
  plugin-react-load: any of: plugins/web/opentelemetry-plugin-react-load/
  instrumentation-user-interaction: any of: plugins/web/opentelemetry-instrumentation-user-interaction/
  instrumentation-long-task: any of: plugins/web/opentelemetry-instrumentation-long-task/
  instrumentation-document-load: any of: plugins/web/opentelemetry-instrumentation-document-load/
  propagator-aws-xray-lambda: any of: propagators/propagator-aws-xray-lambda/
  propagator-aws-xray: any of: propagators/propagator-aws-xray/
  propagator-ot-trace: any of: propagators/opentelemetry-propagator-ot-trace/
  propagator-instana: any of: propagators/opentelemetry-propagator-instana/
  resource-detector-instana: any of: detectors/node/opentelemetry-resource-detector-instana/
  resource-detector-github: any of: detectors/node/opentelemetry-resource-detector-github/
  resource-detector-gcp: any of: detectors/node/opentelemetry-resource-detector-gcp/
  resource-detector-container: any of: detectors/node/opentelemetry-resource-detector-container/
  resource-detector-azure: any of: detectors/node/opentelemetry-resource-detector-azure/
  resource-detector-aws: any of: detectors/node/opentelemetry-resource-detector-aws/
  resource-detector-alibaba-cloud: any of: detectors/node/opentelemetry-resource-detector-alibaba-cloud/
  auto-instrumentations-web: any of: metapackages/auto-instrumentations-web/
  auto-instrumentations-node: any of: metapackages/auto-instrumentations-node/
  auto-configuration-propagators: any of: metapackages/auto-configuration-propagators/

move imports of stable semconv vars to be from the semantic-conventions package
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/semconv.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
Due: instrumentation-pg

chore: Add docker compose and test services scripts (#2886)
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
  plugins/node/opentelemetry-instrumentation-mysql/test/index.metrics.test.ts
  plugins/node/opentelemetry-instrumentation-mysql/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-mysql2/test/mysql.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
  test/docker-compose.yaml
  test/test-services.env
Due: instrumentation-pg, instrumentation-mysql2, instrumentation-mysql

remove addlogprocessor
  packages/baggage-log-record-processor/test/baggage-log-record-processor.test.ts
  packages/winston-transport/README.md
  packages/winston-transport/test/openTelemetryTransport.test.ts
  plugins/node/opentelemetry-instrumentation-bunyan/test/bunyan.test.ts
  plugins/node/opentelemetry-instrumentation-pino/test/pino.test.ts
  plugins/node/opentelemetry-instrumentation-winston/README.md
  plugins/node/opentelemetry-instrumentation-winston/test/winston.test.ts
Due: winston-transport, baggage-log-record-processor, instrumentation-winston, instrumentation-pino, instrumentation-bunyan

fix(instrumentation-dataloader): Patch `batchLoadFn` without creating an instance (#2498)
  plugins/node/instrumentation-dataloader/src/instrumentation.ts
  plugins/node/instrumentation-dataloader/test/dataloader.test.ts
Due: instrumentation-dataloader

chore(examples): lint examples/fastify using shared top-level eslint config
  examples/fastify/.eslintrc.js
  examples/fastify/.npmrc
  examples/fastify/client.js
  examples/fastify/opentelemetry.js
  examples/fastify/package-lock.json
  examples/fastify/package.json
  examples/fastify/server.js
Due: none

chore(examples): lint examples/connect using shared top-level eslint config
  examples/connect/.eslintrc.js
  examples/connect/.npmrc
  examples/connect/client.js
  examples/connect/package.json
  examples/connect/server.js
  examples/connect/tracing.js
Due: none

chore(examples): lint examples/hapi using shared top-level eslint config (#2892)
  examples/hapi/.eslintrc.js
  examples/hapi/.npmrc
  examples/hapi/client.js
  examples/hapi/package.json
  examples/hapi/server.js
  examples/hapi/tracer.js
Due: none

chore(examples): lint examples/dns using shared top-level eslint config
  examples/dns/.eslintrc.js
  examples/dns/.npmrc
  examples/dns/client.js
  examples/dns/package.json
  examples/dns/tracer.js
Due: none

chore(examples): lint examples/graphql using shared top-level eslint config
  examples/graphql/.eslintrc.js
  examples/graphql/.npmrc
  examples/graphql/client-federation.js
  examples/graphql/client.js
  examples/graphql/countries-service.js
  examples/graphql/package.json
  examples/graphql/schema.js
  examples/graphql/server-express.js
  examples/graphql/server-federation.js
  examples/graphql/tracer.js
Due: none

chore(examples): lint examples/grpc-census-prop using shared top-level eslint config
  examples/grpc-census-prop/.eslintrc.js
  examples/grpc-census-prop/.npmrc
  examples/grpc-census-prop/capitalize_client.js
  examples/grpc-census-prop/capitalize_server.js
  examples/grpc-census-prop/package.json
  examples/grpc-census-prop/tracer.js
Due: none

chore(examples): lint examples/host-metrics using shared top-level eslint config
  examples/host-metrics/.eslintrc.js
  examples/host-metrics/.npmrc
  examples/host-metrics/node.js
  examples/host-metrics/package.json
Due: none

chore(examples): lint examples/ioredis using shared top-level eslint config
  examples/ioredis/.eslintrc.js
  examples/ioredis/.npmrc
  examples/ioredis/package.json
  examples/ioredis/tracer.js
Due: none

chore(examples): lint examples/express using shared top-level eslint config (#2894)
  examples/express/.eslintrc.js
  examples/express/package.json
  examples/express/src/client.ts
  examples/express/src/server.ts
  examples/express/src/tracer.ts
Due: none

chore(examples): lint examples/koa using shared top-level eslint config
  examples/koa/.eslintrc.js
  examples/koa/package.json
  examples/koa/src/client.ts
  examples/koa/src/server.ts
  examples/koa/src/tracer.ts
Due: none

chore(examples): lint examples/memcached using shared top-level eslint config
  examples/memcached/.eslintrc.js
  examples/memcached/.npmrc
  examples/memcached/package.json
  examples/memcached/tracer.js
Due: none

chore(examples): lint examples/meta-node using shared top-level eslint config
  examples/meta-node/.eslintrc.js
  examples/meta-node/.npmrc
  examples/meta-node/client.js
  examples/meta-node/package.json
  examples/meta-node/server.js
  examples/meta-node/tracer.js
Due: none

chore(examples): lint examples/mongodb using shared top-level eslint config
  examples/mongodb/.eslintrc.js
  examples/mongodb/package.json
  examples/mongodb/src/client.ts
  examples/mongodb/src/server.ts
  examples/mongodb/src/tracer.ts
  examples/mongodb/src/utils.ts
Due: none

chore(examples): lint examples/mysql using shared top-level eslint config
  examples/mysql/.eslintrc.js
  examples/mysql/package.json
  examples/mysql/src/client.ts
  examples/mysql/src/server.ts
  examples/mysql/src/tracer.ts
Due: none

chore(examples): lint examples/network using shared top-level eslint config
  examples/network/.eslintrc.js
  examples/network/.npmrc
  examples/network/client.js
  examples/network/package.json
Due: none

chore(examples): lint examples/redis using shared top-level eslint config
  examples/redis/.eslintrc.js
  examples/redis/package.json
  examples/redis/src/client.ts
  examples/redis/src/express-tracer-handlers.ts
  examples/redis/src/server.ts
  examples/redis/src/tracer.ts
Due: none

chore(examples): drop examples/restify
  examples/restify/README.md
  examples/restify/client.js
  examples/restify/package.json
  examples/restify/server.js
  examples/restify/tracer.js
Due: none

chore(examples): lint examples/router using shared top-level eslint config
  examples/router/.eslintrc.js
  examples/router/.npmrc
  examples/router/client.js
  examples/router/package.json
  examples/router/server.js
  examples/router/tracer.js
Due: none

chore(examples): lint examples/web using shared top-level eslint config
  examples/web/.eslintrc.js
  examples/web/examples/document-load/index.js
  examples/web/examples/meta/index.js
  examples/web/examples/user-interaction/index.js
  examples/web/package.json
  examples/web/webpack.config.js
Due: none

chore(examples): lint examples/react-load using shared top-level eslint config
  examples/react-load/preact/.eslintrc.js
  examples/react-load/preact/.npmrc
  examples/react-load/preact/package.json
  examples/react-load/preact/src/components/Content.js
  examples/react-load/preact/src/components/app.js
  examples/react-load/preact/src/index.js
  examples/react-load/preact/src/sw.js
  examples/react-load/preact/src/web-tracer.js
  examples/react-load/react/.eslintrc.js
  examples/react-load/react/.npmrc
  examples/react-load/react/package.json
  examples/react-load/react/src/web-tracer.js
Due: none

chore(examples): lint examples/connect using shared top-level eslint config (#2897)
  examples/connect/.eslintrc.js
  examples/connect/.npmrc
  examples/connect/client.js
  examples/connect/package.json
  examples/connect/server.js
  examples/connect/tracing.js
Due: none

fix lint
  plugins/node/opentelemetry-instrumentation-pino/test/pino.test.ts
Due: instrumentation-pino

fix lint
  plugins/node/opentelemetry-instrumentation-bunyan/test/bunyan.test.ts
Due: instrumentation-bunyan

chore(examples): lint examples/ioredis using shared top-level eslint config (#2902)
  examples/ioredis/.eslintrc.js
  examples/ioredis/.npmrc
  examples/ioredis/package.json
  examples/ioredis/tracer.js
Due: none

fix lint
  packages/baggage-log-record-processor/test/baggage-log-record-processor.test.ts
  packages/winston-transport/README.md
  plugins/node/opentelemetry-instrumentation-bunyan/test/bunyan.test.ts
  plugins/node/opentelemetry-instrumentation-winston/README.md
Due: winston-transport, baggage-log-record-processor, instrumentation-winston, instrumentation-bunyan

v4: drop DEFAULT_CONFIG handling, it is handled in the parent RedisInstrumentation now
  plugins/node/opentelemetry-instrumentation-redis/src/v4/instrumentation.ts
Due: instrumentation-redis

test(redis-4): fix tests with redis@4.4.0 and earlier
  plugins/node/opentelemetry-instrumentation-redis-4/test/redis.test.ts
Due: instrumentation-redis-4

move testing of redis v2/v3 to 'npm run test-all-versions'; fix tests against earlier redis v4 versions
  package-lock.json
  plugins/node/opentelemetry-instrumentation-redis/.tav.yml
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-redis/test/v2-v3/redis.test.ts
  plugins/node/opentelemetry-instrumentation-redis/test/v4/redis.test.ts
Due: instrumentation-redis

use a diff name here to see if git picks up on src/instrumentation.ts -> src/v2-v3/instrumentation.ts for a smaller PR diff
  plugins/node/opentelemetry-instrumentation-redis/src/index.ts
  plugins/node/opentelemetry-instrumentation-redis/src/redis.ts
Due: instrumentation-redis

remove old instr-redis-4 sources, so git can pick up on the move of the isntr and test files for git --follow history
  plugins/node/opentelemetry-instrumentation-redis-4/.eslintignore
  plugins/node/opentelemetry-instrumentation-redis-4/.eslintrc.js
  plugins/node/opentelemetry-instrumentation-redis-4/.tav.yml
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/src/index.ts
  plugins/node/opentelemetry-instrumentation-redis-4/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis-4/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-redis-4/src/types.ts
  plugins/node/opentelemetry-instrumentation-redis-4/src/utils.ts
  plugins/node/opentelemetry-instrumentation-redis-4/test/redis.test.ts
  plugins/node/opentelemetry-instrumentation-redis-4/test/utils.ts
  plugins/node/opentelemetry-instrumentation-redis-4/tsconfig.json
Due: instrumentation-redis-4

loosen types on v2/v3 tests (mostly) to not have to have v3 redis types around to compile
  plugins/node/opentelemetry-instrumentation-redis/src/v2-v3/internal-types.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v2-v3/utils.ts
  plugins/node/opentelemetry-instrumentation-redis/test/v2-v3/redis.test.ts
Due: instrumentation-redis

drop @types/redis dep; fix release-please config
  .release-please-manifest.json
  package-lock.json
  plugins/node/opentelemetry-instrumentation-redis/package.json
Due: instrumentation-redis

another release-please config update
  release-please-config.json
Due: none

chore(examples): lint examples/fastify using shared top-level eslint config (#2896)
  examples/fastify/.eslintrc.js
  examples/fastify/.npmrc
  examples/fastify/client.js
  examples/fastify/opentelemetry.js
  examples/fastify/package-lock.json
  examples/fastify/package.json
  examples/fastify/server.js
Due: none

drop instr-redis-4 from auto-instrumentations-node
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-node/src/utils.ts
  package-lock.json
Due: auto-instrumentations-node

chore(examples): lint examples/dns using shared top-level eslint config (#2898)
  examples/dns/.eslintrc.js
  examples/dns/.npmrc
  examples/dns/client.js
  examples/dns/package.json
  examples/dns/tracer.js
Due: none
