Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: winston-transport, contrib-test-utils, sql-common, redis-common, propagation-utils, id-generator-aws-xray, host-metrics, baggage-span-processor, baggage-log-record-processor, instrumentation-winston, instrumentation-router, instrumentation-restify, instrumentation-redis-4, instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-oracledb, instrumentation-net, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mysql, instrumentation-mongodb, instrumentation-memcached, instrumentation-koa, instrumentation-knex, instrumentation-ioredis, instrumentation-hapi, instrumentation-graphql, instrumentation-generic-pool, instrumentation-fastify, instrumentation-express, instrumentation-dns, instrumentation-connect, instrumentation-cassandra-driver, instrumentation-bunyan, instrumentation-aws-sdk, instrumentation-aws-lambda, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-runtime-node, instrumentation-mongoose, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-fs, instrumentation-dataloader, instrumentation-cucumber, instrumentation-amqplib, plugin-react-load, instrumentation-user-interaction, instrumentation-long-task, instrumentation-document-load, propagator-aws-xray-lambda, propagator-aws-xray, propagator-ot-trace, propagator-instana, resource-detector-instana, resource-detector-github, resource-detector-gcp, resource-detector-container, resource-detector-azure, resource-detector-aws, resource-detector-alibaba-cloud, auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators

address code review feedback. update unit test description.
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sns.test.ts
Due: instrumentation-aws-sdk

feat: Add AWS_SNS_TOPIC_ARN semantic convention support for AWS SNS SDK
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/semconv.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sns.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/mock-responses/sns-create-topic.xml
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sns.test.ts
Due: instrumentation-aws-sdk

address code review feedback.
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/semconv.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sns.test.ts
Due: instrumentation-aws-sdk

fix variable naming issue.
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sns.test.ts
Due: instrumentation-aws-sdk

Update diag usage
  incubator/opentelemetry-sampler-aws-xray/src/aws-xray-sampling-client.ts
  incubator/opentelemetry-sampler-aws-xray/src/remote-sampler.ts
  incubator/opentelemetry-sampler-aws-xray/test/aws-xray-sampling-client.test.ts
Due: none

undo unit test renaming
  incubator/opentelemetry-sampler-aws-xray/test/remote-sampler.test.ts
Due: none

feat(instr-aws-sdk): add AWS_SNS_TOPIC_ARN semantic convention support for AWS SNS SDK (#2885)
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/semconv.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sns.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/mock-responses/sns-create-topic.xml
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sns.test.ts
Due: instrumentation-aws-sdk

chore: sync package-lock.json
  package-lock.json
Due: none

Update plugins/node/opentelemetry-instrumentation-winston/README.md
  plugins/node/opentelemetry-instrumentation-winston/README.md
Due: instrumentation-winston

add tests
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
Due: instrumentation-pg

remove file added during weird merge
  plugins/node/instrumentation-cucumber/test/current.feature
Due: instrumentation-cucumber

chore: update codecov.yml
  codecov.yml
Due: none

revert package lock
  package-lock.json
Due: none

update package lock
  package-lock.json
Due: none

fix package lock
  package-lock.json
Due: none

add line
  package-lock.json
Due: none

chore: rename job to match PR checks
  .github/workflows/pr-test.yml
Due: none

fix lint
  packages/instrumentation-pg/test/pg-pool.test.ts
Due: none

chore: add scripts to cassandra driver instr
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-cassandra-driver/package.json
  packages/instrumentation-cassandra-driver/test/cassandra-driver.test.ts
  test/test-services.env
Due: none

chore: add scripts to iosredis instrumentation
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-ioredis/test/ioredis.test.ts
Due: none

chore: update sceript to a batch of instrumentations
  packages/instrumentation-knex/package.json
  packages/instrumentation-koa/package.json
  packages/instrumentation-long-task/package.json
  packages/instrumentation-lru-memoizer/package.json
  packages/instrumentation-memcached/package.json
  packages/instrumentation-memcached/test/index.test.ts
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongoose/package.json
  packages/instrumentation-mongoose/test/mongoose-common.test.ts
  packages/instrumentation-mongoose/test/mongoose-v5-v6.test.ts
  packages/instrumentation-mongoose/test/mongoose-v7-v8.test.ts
  packages/instrumentation-mysql/package.json
  packages/instrumentation-mysql/test/index.metrics.test.ts
  packages/instrumentation-mysql/test/index.test.ts
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-mysql2/test/mysql.test.ts
Due: none

chore: updates cripts for oracle and pg instrumentations
  packages/instrumentation-oracledb/package.json
  packages/instrumentation-oracledb/test/oracle.test.ts
  packages/instrumentation-pg/package.json
  packages/instrumentation-pg/test/pg-pool.test.ts
Due: none

chore: update script for a batch of pacakges
  packages/auto-configuration-propagators/package.json
  packages/auto-instrumentations-node/package.json
  packages/auto-instrumentations-web/package.json
  packages/baggage-log-record-processor/package.json
  packages/baggage-span-processor/package.json
  packages/contrib-test-utils/package.json
  packages/host-metrics/package.json
  packages/id-generator-aws-xray/package.json
  packages/instrumentation-redis/package.json
  packages/instrumentation-redis/test/v2-v3/redis.test.ts
  packages/instrumentation-redis/test/v4/redis.test.ts
  packages/instrumentation-redis/test/v4/utils.ts
  packages/instrumentation-tedious/package.json
  packages/instrumentation-tedious/test/instrumentation.test.ts
  packages/instrumentation-typeorm/package.json
  packages/instrumentation-undici/package.json
  packages/instrumentation-user-interaction/package.json
  packages/instrumentation-winston/package.json
  packages/plugin-react-load/package.json
  packages/propagation-utils/package.json
  packages/propagator-aws-xray-lambda/package.json
  packages/propagator-aws-xray/package.json
  packages/propagator-instana/package.json
  packages/propagator-ot-trace/package.json
  packages/redis-common/package.json
  packages/resource-detector-alibaba-cloud/package.json
  packages/resource-detector-aws/package.json
  packages/resource-detector-azure/package.json
  packages/resource-detector-container/package.json
  packages/resource-detector-gcp/package.json
  packages/resource-detector-github/package.json
  packages/resource-detector-instana/package.json
  packages/sql-common/package.json
  packages/winston-transport/package.json
Due: winston-transport, baggage-span-processor, baggage-log-record-processor

chore: organize npm scripts
  incubator/opentelemetry-sampler-aws-xray/package.json
Due: none

feat(baggage-logrecord-processor): update LogRecord -> SdkLogRecord
  packages/baggage-log-record-processor/src/baggage-log-record-processor.ts
Due: baggage-log-record-processor

fix tests
  packages/instrumentation-pg/src/instrumentation.ts
  packages/instrumentation-pg/src/utils.ts
  packages/instrumentation-pg/test/pg-pool.test.ts
Due: none

chore: fix lint issues
  packages/instrumentation-cassandra-driver/test/cassandra-driver.test.ts
  packages/instrumentation-redis/test/v4/redis.test.ts
Due: none

chore: release main
  package-lock.json
  packages/resource-detector-aws/package.json
  packages/resource-detector-azure/CHANGELOG.md
  packages/resource-detector-azure/package.json
  packages/resource-detector-container/CHANGELOG.md
  packages/resource-detector-container/package.json
  packages/resource-detector-gcp/CHANGELOG.md
  packages/resource-detector-gcp/package.json
  packages/resource-detector-instana/CHANGELOG.md
  packages/resource-detector-instana/package.json
  packages/winston-transport/CHANGELOG.md
  packages/winston-transport/package.json
Due: winston-transport

chore: add cros-env where needed
  package-lock.json
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-cassandra-driver/package.json
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongoose/package.json
  packages/instrumentation-mysql/package.json
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-tedious/package.json
Due: none

test
  packages/instrumentation-pg/test/pg-pool.test.ts
Due: none

Path conditions:
  winston-transport: any of: packages/winston-transport/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  sql-common: any of: packages/opentelemetry-sql-common/
  redis-common: any of: packages/opentelemetry-redis-common/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  instrumentation-winston: any of: plugins/node/opentelemetry-instrumentation-winston/
  instrumentation-router: any of: plugins/node/opentelemetry-instrumentation-router/
  instrumentation-restify: any of: plugins/node/opentelemetry-instrumentation-restify/
  instrumentation-redis-4: any of: plugins/node/opentelemetry-instrumentation-redis-4/
  instrumentation-redis: any of: plugins/node/opentelemetry-instrumentation-redis/
  instrumentation-pino: any of: plugins/node/opentelemetry-instrumentation-pino/
  instrumentation-pg: any of: plugins/node/opentelemetry-instrumentation-pg/
  instrumentation-oracledb: any of: plugins/node/opentelemetry-instrumentation-oracledb/
  instrumentation-net: any of: plugins/node/opentelemetry-instrumentation-net/
  instrumentation-nestjs-core: any of: plugins/node/opentelemetry-instrumentation-nestjs-core/
  instrumentation-mysql2: any of: plugins/node/opentelemetry-instrumentation-mysql2/
  instrumentation-mysql: any of: plugins/node/opentelemetry-instrumentation-mysql/
  instrumentation-mongodb: any of: plugins/node/opentelemetry-instrumentation-mongodb/
  instrumentation-memcached: any of: plugins/node/opentelemetry-instrumentation-memcached/
  instrumentation-koa: any of: plugins/node/opentelemetry-instrumentation-koa/
  instrumentation-knex: any of: plugins/node/opentelemetry-instrumentation-knex/
  instrumentation-ioredis: any of: plugins/node/opentelemetry-instrumentation-ioredis/
  instrumentation-hapi: any of: plugins/node/opentelemetry-instrumentation-hapi/
  instrumentation-graphql: any of: plugins/node/opentelemetry-instrumentation-graphql/
  instrumentation-generic-pool: any of: plugins/node/opentelemetry-instrumentation-generic-pool/
  instrumentation-fastify: any of: plugins/node/opentelemetry-instrumentation-fastify/
  instrumentation-express: any of: plugins/node/opentelemetry-instrumentation-express/
  instrumentation-dns: any of: plugins/node/opentelemetry-instrumentation-dns/
  instrumentation-connect: any of: plugins/node/opentelemetry-instrumentation-connect/
  instrumentation-cassandra-driver: any of: plugins/node/opentelemetry-instrumentation-cassandra/
  instrumentation-bunyan: any of: plugins/node/opentelemetry-instrumentation-bunyan/
  instrumentation-aws-sdk: any of: plugins/node/opentelemetry-instrumentation-aws-sdk/
  instrumentation-aws-lambda: any of: plugins/node/opentelemetry-instrumentation-aws-lambda/
  instrumentation-undici: any of: plugins/node/instrumentation-undici/
  instrumentation-typeorm: any of: plugins/node/instrumentation-typeorm/
  instrumentation-tedious: any of: plugins/node/instrumentation-tedious/
  instrumentation-socket.io: any of: plugins/node/instrumentation-socket.io/
  instrumentation-runtime-node: any of: plugins/node/instrumentation-runtime-node/
  instrumentation-mongoose: any of: plugins/node/instrumentation-mongoose/
  instrumentation-lru-memoizer: any of: plugins/node/instrumentation-lru-memoizer/
  instrumentation-kafkajs: any of: plugins/node/instrumentation-kafkajs/
  instrumentation-fs: any of: plugins/node/instrumentation-fs/
  instrumentation-dataloader: any of: plugins/node/instrumentation-dataloader/
  instrumentation-cucumber: any of: plugins/node/instrumentation-cucumber/
  instrumentation-amqplib: any of: plugins/node/instrumentation-amqplib/
  plugin-react-load: any of: plugins/web/opentelemetry-plugin-react-load/
  instrumentation-user-interaction: any of: plugins/web/opentelemetry-instrumentation-user-interaction/
  instrumentation-long-task: any of: plugins/web/opentelemetry-instrumentation-long-task/
  instrumentation-document-load: any of: plugins/web/opentelemetry-instrumentation-document-load/
  propagator-aws-xray-lambda: any of: propagators/propagator-aws-xray-lambda/
  propagator-aws-xray: any of: propagators/propagator-aws-xray/
  propagator-ot-trace: any of: propagators/opentelemetry-propagator-ot-trace/
  propagator-instana: any of: propagators/opentelemetry-propagator-instana/
  resource-detector-instana: any of: detectors/node/opentelemetry-resource-detector-instana/
  resource-detector-github: any of: detectors/node/opentelemetry-resource-detector-github/
  resource-detector-gcp: any of: detectors/node/opentelemetry-resource-detector-gcp/
  resource-detector-container: any of: detectors/node/opentelemetry-resource-detector-container/
  resource-detector-azure: any of: detectors/node/opentelemetry-resource-detector-azure/
  resource-detector-aws: any of: detectors/node/opentelemetry-resource-detector-aws/
  resource-detector-alibaba-cloud: any of: detectors/node/opentelemetry-resource-detector-alibaba-cloud/
  auto-instrumentations-web: any of: metapackages/auto-instrumentations-web/
  auto-instrumentations-node: any of: metapackages/auto-instrumentations-node/
  auto-configuration-propagators: any of: metapackages/auto-configuration-propagators/
