Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: winston-transport, contrib-test-utils, sql-common, redis-common, propagation-utils, id-generator-aws-xray, host-metrics, baggage-span-processor, baggage-log-record-processor, instrumentation-winston, instrumentation-router, instrumentation-restify, instrumentation-redis-4, instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-oracledb, instrumentation-net, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mysql, instrumentation-mongodb, instrumentation-memcached, instrumentation-koa, instrumentation-knex, instrumentation-ioredis, instrumentation-hapi, instrumentation-graphql, instrumentation-generic-pool, instrumentation-fastify, instrumentation-express, instrumentation-dns, instrumentation-connect, instrumentation-cassandra-driver, instrumentation-bunyan, instrumentation-aws-sdk, instrumentation-aws-lambda, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-runtime-node, instrumentation-mongoose, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-fs, instrumentation-dataloader, instrumentation-cucumber, instrumentation-amqplib, plugin-react-load, instrumentation-user-interaction, instrumentation-long-task, instrumentation-document-load, propagator-aws-xray-lambda, propagator-aws-xray, propagator-ot-trace, propagator-instana, resource-detector-instana, resource-detector-github, resource-detector-gcp, resource-detector-container, resource-detector-azure, resource-detector-aws, resource-detector-alibaba-cloud, auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators

address comments - error handling for rule matching and TODO comment
  incubator/opentelemetry-sampler-aws-xray/src/remote-sampler.ts
Due: none

chore: add flags script
  .github/workflows/pr-test.yml
  scripts/codecov-upload-flags.mjs
Due: none

Update tests
  plugins/node/instrumentation-dataloader/test/dataloader.test.ts
Due: instrumentation-dataloader

fix(express): Ensure 404 routes don't attach route attribute (#2843)
  plugins/node/opentelemetry-instrumentation-express/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-express/src/utils.ts
  plugins/node/opentelemetry-instrumentation-express/test/express.test.ts
  plugins/node/opentelemetry-instrumentation-express/test/utils.test.ts
Due: instrumentation-express

chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-web/CHANGELOG.md
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  plugins/node/opentelemetry-instrumentation-express/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/web/opentelemetry-instrumentation-document-load/CHANGELOG.md
  plugins/web/opentelemetry-instrumentation-document-load/package.json
Due: instrumentation-express, instrumentation-document-load, auto-instrumentations-web, auto-instrumentations-node

chore: sync package-lock.json
  package-lock.json
Due: none

Increase line coverage
  plugins/node/instrumentation-dataloader/test/dataloader.test.ts
Due: instrumentation-dataloader

Lint
  plugins/node/instrumentation-dataloader/test/dataloader.test.ts
Due: instrumentation-dataloader

update import constants
  plugins/node/opentelemetry-instrumentation-pg/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-pg/src/semconv.ts
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg-pool.test.ts
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
Due: instrumentation-pg

feat(koa): Adds support to ignore a span by its layer name
  plugins/node/opentelemetry-instrumentation-koa/README.md
  plugins/node/opentelemetry-instrumentation-koa/src/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-koa/src/types.ts
  plugins/node/opentelemetry-instrumentation-koa/src/utils.ts
  plugins/node/opentelemetry-instrumentation-koa/test/koa.test.ts
  plugins/node/opentelemetry-instrumentation-koa/test/utils.test.ts
Due: instrumentation-koa

feat: Add AWS_SNS_TOPIC_ARN semantic convention support for AWS SNS SDK
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/semconv.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sns.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/mock-responses/sns-create-topic.xml
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sns.test.ts
Due: instrumentation-aws-sdk

chore: add docker file to test with services locally
  package.json
  plugins/node/opentelemetry-instrumentation-mysql/test/index.metrics.test.ts
  plugins/node/opentelemetry-instrumentation-mysql/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-mysql2/test/mysql.test.ts
  test/docker-compose.yaml
  test/test-services.env
Due: instrumentation-mysql2, instrumentation-mysql

chore: remove mysql config step in workflows
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
Due: none

chore: fix lint issues
  plugins/node/opentelemetry-instrumentation-mysql/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-mysql2/test/mysql.test.ts
Due: instrumentation-mysql2, instrumentation-mysql

fix: fix compilation issue
  plugins/node/opentelemetry-instrumentation-mysql/test/index.test.ts
Due: instrumentation-mysql

chore: fix databae and port for mysql service
  test/docker-compose.yaml
  test/test-services.env
Due: none

chore: fix env for pg instrumentation tests
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
  test/docker-compose.yaml
  test/test-services.env
Due: instrumentation-pg

Rebase and resolve conflicts
  .github/component-label-map.yml
  .github/component_owners.yml
  .release-please-manifest.json
  examples/web/examples/document-load/index.js
  examples/web/examples/page-view/index.html
  examples/web/examples/page-view/index.js
  examples/web/package.json
  examples/web/webpack.config.js
  plugins/web/opentelemetry-instrumentation-page-view/.eslintignore
  plugins/web/opentelemetry-instrumentation-page-view/.eslintrc.js
  plugins/web/opentelemetry-instrumentation-page-view/LICENSE
  plugins/web/opentelemetry-instrumentation-page-view/README.md
  plugins/web/opentelemetry-instrumentation-page-view/karma.conf.js
  plugins/web/opentelemetry-instrumentation-page-view/package.json
  plugins/web/opentelemetry-instrumentation-page-view/src/enums/PageTypes.ts
  plugins/web/opentelemetry-instrumentation-page-view/src/index.ts
  plugins/web/opentelemetry-instrumentation-page-view/src/instrumentation.ts
  plugins/web/opentelemetry-instrumentation-page-view/src/types.ts
  plugins/web/opentelemetry-instrumentation-page-view/test/index-webpack.ts
  plugins/web/opentelemetry-instrumentation-page-view/test/pageView.test.ts
  plugins/web/opentelemetry-instrumentation-page-view/tsconfig.esm.json
  plugins/web/opentelemetry-instrumentation-page-view/tsconfig.esnext.json
  plugins/web/opentelemetry-instrumentation-page-view/tsconfig.json
  plugins/web/opentelemetry-instrumentation-page-view/web-test-runner.config.mjs
  release-please-config.json
Due: none

chore: update docs
  CONTRIBUTING.md
  package.json
Due: none

chore: remove logs
  plugins/node/opentelemetry-instrumentation-mysql2/test/mysql.test.ts
Due: instrumentation-mysql2

feat(instrumentation-dataloader): Enhance `dataloader` instrumentation. (#2449)
  plugins/node/instrumentation-dataloader/src/instrumentation.ts
  plugins/node/instrumentation-dataloader/test/dataloader.test.ts
Due: instrumentation-dataloader

fix test and add readme
  plugins/node/opentelemetry-instrumentation-pg/README.md
  plugins/node/opentelemetry-instrumentation-pg/src/semconv.ts
Due: instrumentation-pg

fix lint
  plugins/node/opentelemetry-instrumentation-pg/test/pg.test.ts
Due: instrumentation-pg

fix lint again
  plugins/node/opentelemetry-instrumentation-pg/src/semconv.ts
Due: instrumentation-pg

lint
  plugins/node/opentelemetry-instrumentation-pg/README.md
Due: instrumentation-pg

update address and port
  plugins/node/opentelemetry-instrumentation-pg/README.md
  plugins/node/opentelemetry-instrumentation-pg/src/utils.ts
  plugins/node/opentelemetry-instrumentation-pg/test/utils.test.ts
Due: instrumentation-pg

Use logs instead of events
  examples/web/examples/page-view/index.js
  examples/web/package.json
  package-lock.json
  plugins/node/instrumentation-typeorm/connection2.db
  plugins/web/opentelemetry-instrumentation-page-view/package.json
  plugins/web/opentelemetry-instrumentation-page-view/src/instrumentation.ts
  plugins/web/opentelemetry-instrumentation-page-view/src/types.ts
  plugins/web/opentelemetry-instrumentation-page-view/test/pageView.test.ts
Due: instrumentation-typeorm

lint fix
  plugins/web/opentelemetry-instrumentation-page-view/src/instrumentation.ts
  plugins/web/opentelemetry-instrumentation-page-view/src/types.ts
  plugins/web/opentelemetry-instrumentation-page-view/test/pageView.test.ts
Due: none

updated imports
  package-lock.json
  plugins/web/opentelemetry-instrumentation-page-view/package.json
Due: none

address code review feedback. update unit test description.
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sns.test.ts
Due: instrumentation-aws-sdk

Update plugins/node/opentelemetry-instrumentation-mysql/test/index.test.ts
  plugins/node/opentelemetry-instrumentation-mysql/test/index.test.ts
Due: instrumentation-mysql

Update test/docker-compose.yaml
  test/docker-compose.yaml
Due: none

chore: add cross-env in test script
  package-lock.json
  package.json
  test/test-services.env
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

another style fix, after the merge from main
  examples/bunyan/app.js
Due: none

chore(eslint): lint examples/bunyan and prepare eslint confing for linting .js and .mjs files (#2567)
  eslint.config.js
  examples/bunyan/.eslintrc.js
  examples/bunyan/app.js
  examples/bunyan/package.json
  examples/bunyan/telemetry.js
Due: none

chore(examples): lint examples/hapi using shared top-level eslint config
  examples/hapi/.eslintrc.js
  examples/hapi/.npmrc
  examples/hapi/client.js
  examples/hapi/package.json
  examples/hapi/server.js
  examples/hapi/tracer.js
Due: none

chore(examples): lint examples/express using shared top-level eslint config
  examples/express/.eslintrc.js
  examples/express/package.json
  examples/express/src/client.ts
  examples/express/src/server.ts
  examples/express/src/tracer.ts
Due: none

Path conditions:
  winston-transport: any of: packages/winston-transport/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  sql-common: any of: packages/opentelemetry-sql-common/
  redis-common: any of: packages/opentelemetry-redis-common/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  instrumentation-winston: any of: plugins/node/opentelemetry-instrumentation-winston/
  instrumentation-router: any of: plugins/node/opentelemetry-instrumentation-router/
  instrumentation-restify: any of: plugins/node/opentelemetry-instrumentation-restify/
  instrumentation-redis-4: any of: plugins/node/opentelemetry-instrumentation-redis-4/
  instrumentation-redis: any of: plugins/node/opentelemetry-instrumentation-redis/
  instrumentation-pino: any of: plugins/node/opentelemetry-instrumentation-pino/
  instrumentation-pg: any of: plugins/node/opentelemetry-instrumentation-pg/
  instrumentation-oracledb: any of: plugins/node/opentelemetry-instrumentation-oracledb/
  instrumentation-net: any of: plugins/node/opentelemetry-instrumentation-net/
  instrumentation-nestjs-core: any of: plugins/node/opentelemetry-instrumentation-nestjs-core/
  instrumentation-mysql2: any of: plugins/node/opentelemetry-instrumentation-mysql2/
  instrumentation-mysql: any of: plugins/node/opentelemetry-instrumentation-mysql/
  instrumentation-mongodb: any of: plugins/node/opentelemetry-instrumentation-mongodb/
  instrumentation-memcached: any of: plugins/node/opentelemetry-instrumentation-memcached/
  instrumentation-koa: any of: plugins/node/opentelemetry-instrumentation-koa/
  instrumentation-knex: any of: plugins/node/opentelemetry-instrumentation-knex/
  instrumentation-ioredis: any of: plugins/node/opentelemetry-instrumentation-ioredis/
  instrumentation-hapi: any of: plugins/node/opentelemetry-instrumentation-hapi/
  instrumentation-graphql: any of: plugins/node/opentelemetry-instrumentation-graphql/
  instrumentation-generic-pool: any of: plugins/node/opentelemetry-instrumentation-generic-pool/
  instrumentation-fastify: any of: plugins/node/opentelemetry-instrumentation-fastify/
  instrumentation-express: any of: plugins/node/opentelemetry-instrumentation-express/
  instrumentation-dns: any of: plugins/node/opentelemetry-instrumentation-dns/
  instrumentation-connect: any of: plugins/node/opentelemetry-instrumentation-connect/
  instrumentation-cassandra-driver: any of: plugins/node/opentelemetry-instrumentation-cassandra/
  instrumentation-bunyan: any of: plugins/node/opentelemetry-instrumentation-bunyan/
  instrumentation-aws-sdk: any of: plugins/node/opentelemetry-instrumentation-aws-sdk/
  instrumentation-aws-lambda: any of: plugins/node/opentelemetry-instrumentation-aws-lambda/
  instrumentation-undici: any of: plugins/node/instrumentation-undici/
  instrumentation-typeorm: any of: plugins/node/instrumentation-typeorm/
  instrumentation-tedious: any of: plugins/node/instrumentation-tedious/
  instrumentation-socket.io: any of: plugins/node/instrumentation-socket.io/
  instrumentation-runtime-node: any of: plugins/node/instrumentation-runtime-node/
  instrumentation-mongoose: any of: plugins/node/instrumentation-mongoose/
  instrumentation-lru-memoizer: any of: plugins/node/instrumentation-lru-memoizer/
  instrumentation-kafkajs: any of: plugins/node/instrumentation-kafkajs/
  instrumentation-fs: any of: plugins/node/instrumentation-fs/
  instrumentation-dataloader: any of: plugins/node/instrumentation-dataloader/
  instrumentation-cucumber: any of: plugins/node/instrumentation-cucumber/
  instrumentation-amqplib: any of: plugins/node/instrumentation-amqplib/
  plugin-react-load: any of: plugins/web/opentelemetry-plugin-react-load/
  instrumentation-user-interaction: any of: plugins/web/opentelemetry-instrumentation-user-interaction/
  instrumentation-long-task: any of: plugins/web/opentelemetry-instrumentation-long-task/
  instrumentation-document-load: any of: plugins/web/opentelemetry-instrumentation-document-load/
  propagator-aws-xray-lambda: any of: propagators/propagator-aws-xray-lambda/
  propagator-aws-xray: any of: propagators/propagator-aws-xray/
  propagator-ot-trace: any of: propagators/opentelemetry-propagator-ot-trace/
  propagator-instana: any of: propagators/opentelemetry-propagator-instana/
  resource-detector-instana: any of: detectors/node/opentelemetry-resource-detector-instana/
  resource-detector-github: any of: detectors/node/opentelemetry-resource-detector-github/
  resource-detector-gcp: any of: detectors/node/opentelemetry-resource-detector-gcp/
  resource-detector-container: any of: detectors/node/opentelemetry-resource-detector-container/
  resource-detector-azure: any of: detectors/node/opentelemetry-resource-detector-azure/
  resource-detector-aws: any of: detectors/node/opentelemetry-resource-detector-aws/
  resource-detector-alibaba-cloud: any of: detectors/node/opentelemetry-resource-detector-alibaba-cloud/
  auto-instrumentations-web: any of: metapackages/auto-instrumentations-web/
  auto-instrumentations-node: any of: metapackages/auto-instrumentations-node/
  auto-configuration-propagators: any of: metapackages/auto-configuration-propagators/
