Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: winston-transport, contrib-test-utils, sql-common, redis-common, propagation-utils, id-generator-aws-xray, host-metrics, baggage-span-processor, baggage-log-record-processor, instrumentation-winston, instrumentation-router, instrumentation-restify, instrumentation-redis-4, instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-oracledb, instrumentation-net, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mysql, instrumentation-mongodb, instrumentation-memcached, instrumentation-koa, instrumentation-knex, instrumentation-ioredis, instrumentation-hapi, instrumentation-graphql, instrumentation-generic-pool, instrumentation-fastify, instrumentation-express, instrumentation-dns, instrumentation-connect, instrumentation-cassandra-driver, instrumentation-bunyan, instrumentation-aws-sdk, instrumentation-aws-lambda, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-runtime-node, instrumentation-mongoose, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-fs, instrumentation-dataloader, instrumentation-cucumber, instrumentation-amqplib, plugin-react-load, instrumentation-user-interaction, instrumentation-long-task, instrumentation-document-load, propagator-aws-xray-lambda, propagator-aws-xray, propagator-ot-trace, propagator-instana, resource-detector-instana, resource-detector-github, resource-detector-gcp, resource-detector-container, resource-detector-azure, resource-detector-aws, resource-detector-alibaba-cloud, auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators

Path conditions:
  winston-transport: any of: packages/winston-transport/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  sql-common: any of: packages/opentelemetry-sql-common/
  redis-common: any of: packages/opentelemetry-redis-common/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  instrumentation-winston: any of: plugins/node/opentelemetry-instrumentation-winston/
  instrumentation-router: any of: plugins/node/opentelemetry-instrumentation-router/
  instrumentation-restify: any of: plugins/node/opentelemetry-instrumentation-restify/
  instrumentation-redis-4: any of: plugins/node/opentelemetry-instrumentation-redis-4/
  instrumentation-redis: any of: plugins/node/opentelemetry-instrumentation-redis/
  instrumentation-pino: any of: plugins/node/opentelemetry-instrumentation-pino/
  instrumentation-pg: any of: plugins/node/opentelemetry-instrumentation-pg/
  instrumentation-oracledb: any of: plugins/node/opentelemetry-instrumentation-oracledb/
  instrumentation-net: any of: plugins/node/opentelemetry-instrumentation-net/
  instrumentation-nestjs-core: any of: plugins/node/opentelemetry-instrumentation-nestjs-core/
  instrumentation-mysql2: any of: plugins/node/opentelemetry-instrumentation-mysql2/
  instrumentation-mysql: any of: plugins/node/opentelemetry-instrumentation-mysql/
  instrumentation-mongodb: any of: plugins/node/opentelemetry-instrumentation-mongodb/
  instrumentation-memcached: any of: plugins/node/opentelemetry-instrumentation-memcached/
  instrumentation-koa: any of: plugins/node/opentelemetry-instrumentation-koa/
  instrumentation-knex: any of: plugins/node/opentelemetry-instrumentation-knex/
  instrumentation-ioredis: any of: plugins/node/opentelemetry-instrumentation-ioredis/
  instrumentation-hapi: any of: plugins/node/opentelemetry-instrumentation-hapi/
  instrumentation-graphql: any of: plugins/node/opentelemetry-instrumentation-graphql/
  instrumentation-generic-pool: any of: plugins/node/opentelemetry-instrumentation-generic-pool/
  instrumentation-fastify: any of: plugins/node/opentelemetry-instrumentation-fastify/
  instrumentation-express: any of: plugins/node/opentelemetry-instrumentation-express/
  instrumentation-dns: any of: plugins/node/opentelemetry-instrumentation-dns/
  instrumentation-connect: any of: plugins/node/opentelemetry-instrumentation-connect/
  instrumentation-cassandra-driver: any of: plugins/node/opentelemetry-instrumentation-cassandra/
  instrumentation-bunyan: any of: plugins/node/opentelemetry-instrumentation-bunyan/
  instrumentation-aws-sdk: any of: plugins/node/opentelemetry-instrumentation-aws-sdk/
  instrumentation-aws-lambda: any of: plugins/node/opentelemetry-instrumentation-aws-lambda/
  instrumentation-undici: any of: plugins/node/instrumentation-undici/
  instrumentation-typeorm: any of: plugins/node/instrumentation-typeorm/
  instrumentation-tedious: any of: plugins/node/instrumentation-tedious/
  instrumentation-socket.io: any of: plugins/node/instrumentation-socket.io/
  instrumentation-runtime-node: any of: plugins/node/instrumentation-runtime-node/
  instrumentation-mongoose: any of: plugins/node/instrumentation-mongoose/
  instrumentation-lru-memoizer: any of: plugins/node/instrumentation-lru-memoizer/
  instrumentation-kafkajs: any of: plugins/node/instrumentation-kafkajs/
  instrumentation-fs: any of: plugins/node/instrumentation-fs/
  instrumentation-dataloader: any of: plugins/node/instrumentation-dataloader/
  instrumentation-cucumber: any of: plugins/node/instrumentation-cucumber/
  instrumentation-amqplib: any of: plugins/node/instrumentation-amqplib/
  plugin-react-load: any of: plugins/web/opentelemetry-plugin-react-load/
  instrumentation-user-interaction: any of: plugins/web/opentelemetry-instrumentation-user-interaction/
  instrumentation-long-task: any of: plugins/web/opentelemetry-instrumentation-long-task/
  instrumentation-document-load: any of: plugins/web/opentelemetry-instrumentation-document-load/
  propagator-aws-xray-lambda: any of: propagators/propagator-aws-xray-lambda/
  propagator-aws-xray: any of: propagators/propagator-aws-xray/
  propagator-ot-trace: any of: propagators/opentelemetry-propagator-ot-trace/
  propagator-instana: any of: propagators/opentelemetry-propagator-instana/
  resource-detector-instana: any of: detectors/node/opentelemetry-resource-detector-instana/
  resource-detector-github: any of: detectors/node/opentelemetry-resource-detector-github/
  resource-detector-gcp: any of: detectors/node/opentelemetry-resource-detector-gcp/
  resource-detector-container: any of: detectors/node/opentelemetry-resource-detector-container/
  resource-detector-azure: any of: detectors/node/opentelemetry-resource-detector-azure/
  resource-detector-aws: any of: detectors/node/opentelemetry-resource-detector-aws/
  resource-detector-alibaba-cloud: any of: detectors/node/opentelemetry-resource-detector-alibaba-cloud/
  auto-instrumentations-web: any of: metapackages/auto-instrumentations-web/
  auto-instrumentations-node: any of: metapackages/auto-instrumentations-node/
  auto-configuration-propagators: any of: metapackages/auto-configuration-propagators/

chore(examples): lint examples/graphql using shared top-level eslint config (#2899)
  examples/graphql/.eslintrc.js
  examples/graphql/.npmrc
  examples/graphql/client-federation.js
  examples/graphql/client.js
  examples/graphql/countries-service.js
  examples/graphql/package.json
  examples/graphql/schema.js
  examples/graphql/server-express.js
  examples/graphql/server-federation.js
  examples/graphql/tracer.js
Due: none

chore: release main
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/CHANGELOG.md
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-web/CHANGELOG.md
  metapackages/auto-instrumentations-web/package.json
  package-lock.json
  plugins/node/instrumentation-dataloader/CHANGELOG.md
  plugins/node/instrumentation-dataloader/package.json
  plugins/node/opentelemetry-instrumentation-express/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-express/package.json
  plugins/web/opentelemetry-instrumentation-document-load/CHANGELOG.md
  plugins/web/opentelemetry-instrumentation-document-load/package.json
Due: instrumentation-express, instrumentation-dataloader, instrumentation-document-load, auto-instrumentations-web, auto-instrumentations-node

chore: sync package-lock.json
  package-lock.json
Due: none

chore(examples): lint examples/grpc-census-prop using shared top-level eslint config (#2900)
  examples/grpc-census-prop/.eslintrc.js
  examples/grpc-census-prop/.npmrc
  examples/grpc-census-prop/capitalize_client.js
  examples/grpc-census-prop/capitalize_server.js
  examples/grpc-census-prop/package.json
  examples/grpc-census-prop/tracer.js
Due: none

chore(examples): lint examples/host-metrics using shared top-level eslint config (#2901)
  examples/host-metrics/.eslintrc.js
  examples/host-metrics/.npmrc
  examples/host-metrics/node.js
  examples/host-metrics/package.json
Due: none

chore(examples): lint examples/koa using shared top-level eslint config (#2903)
  examples/koa/.eslintrc.js
  examples/koa/package.json
  examples/koa/src/client.ts
  examples/koa/src/server.ts
  examples/koa/src/tracer.ts
Due: none

chore(examples): lint examples/memcached using shared top-level eslint config (#2904)
  examples/memcached/.eslintrc.js
  examples/memcached/.npmrc
  examples/memcached/package.json
  examples/memcached/tracer.js
Due: none

add component owners
  .github/component_owners.yml
Due: none

chore(examples): lint examples/meta-node using shared top-level eslint config (#2905)
  examples/meta-node/.eslintrc.js
  examples/meta-node/.npmrc
  examples/meta-node/client.js
  examples/meta-node/package.json
  examples/meta-node/server.js
  examples/meta-node/tracer.js
Due: none

chore(examples): lint examples/mongodb using shared top-level eslint config (#2906)
  examples/mongodb/.eslintrc.js
  examples/mongodb/package.json
  examples/mongodb/src/client.ts
  examples/mongodb/src/server.ts
  examples/mongodb/src/tracer.ts
  examples/mongodb/src/utils.ts
Due: none

chore(examples): lint examples/mysql using shared top-level eslint config (#2907)
  examples/mysql/.eslintrc.js
  examples/mysql/package.json
  examples/mysql/src/client.ts
  examples/mysql/src/server.ts
  examples/mysql/src/tracer.ts
Due: none

chore(examples): lint examples/network using shared top-level eslint config (#2908)
  examples/network/.eslintrc.js
  examples/network/.npmrc
  examples/network/client.js
  examples/network/package.json
Due: none

chore(examples): lint examples/redis using shared top-level eslint config (#2909)
  examples/redis/.eslintrc.js
  examples/redis/package.json
  examples/redis/src/client.ts
  examples/redis/src/express-tracer-handlers.ts
  examples/redis/src/server.ts
  examples/redis/src/tracer.ts
Due: none

chore(examples): drop examples/restify (#2910)
  examples/restify/README.md
  examples/restify/client.js
  examples/restify/package.json
  examples/restify/server.js
  examples/restify/tracer.js
Due: none

flail to fix "npm run compile" for test/v4/redis.test.ts
  plugins/node/opentelemetry-instrumentation-redis/test/v4/redis.test.ts
Due: instrumentation-redis

chore(examples): lint examples/router using shared top-level eslint config (#2911)
  examples/router/.eslintrc.js
  examples/router/.npmrc
  examples/router/client.js
  examples/router/package.json
  examples/router/server.js
  examples/router/tracer.js
Due: none

remove 'extraneous' package-lock section for dropped instrumentation-redis-4 workspace package
  package-lock.json
Due: none

chore(examples): lint examples/web using shared top-level eslint config (#2912)
  examples/web/.eslintrc.js
  examples/web/examples/document-load/index.js
  examples/web/examples/meta/index.js
  examples/web/examples/user-interaction/index.js
  examples/web/package.json
  examples/web/webpack.config.js
Due: none

chore(examples): lint examples/react-load using shared top-level eslint config (#2913)
  examples/react-load/preact/.eslintrc.js
  examples/react-load/preact/.npmrc
  examples/react-load/preact/package.json
  examples/react-load/preact/src/components/Content.js
  examples/react-load/preact/src/components/app.js
  examples/react-load/preact/src/index.js
  examples/react-load/preact/src/sw.js
  examples/react-load/preact/src/web-tracer.js
  examples/react-load/react/.eslintrc.js
  examples/react-load/react/.npmrc
  examples/react-load/react/package.json
  examples/react-load/react/src/web-tracer.js
Due: none

update README about moved sources and link to the latest release source code
  plugins/node/opentelemetry-instrumentation-redis-4/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis-4/LICENSE
  plugins/node/opentelemetry-instrumentation-redis-4/README.md
Due: instrumentation-redis-4

more rel path refs to fix
  packages/instrumentation-long-task/karma.conf.js
  packages/instrumentation-user-interaction/karma.conf.js
  packages/plugin-react-load/karma.conf.js
Due: none

drop some unneeded type casting
  plugins/node/opentelemetry-instrumentation-redis/test/v4/redis.test.ts
Due: instrumentation-redis

import cleanup from review feedback
  plugins/node/opentelemetry-instrumentation-redis/test/v2-v3/redis.test.ts
Due: instrumentation-redis

can use more accurate "import type" here
  plugins/node/opentelemetry-instrumentation-redis/src/v2-v3/instrumentation.ts
Due: instrumentation-redis

test(instrumentation-redis-4): fix tests with redis@4.4.0 and earlier (#2914)
  plugins/node/opentelemetry-instrumentation-redis-4/test/redis.test.ts
Due: instrumentation-redis-4

chore: Removed deprecated `LoggerProvider#addLogRecordProcessor()` (#2895)
  packages/baggage-log-record-processor/test/baggage-log-record-processor.test.ts
  packages/winston-transport/README.md
  packages/winston-transport/test/openTelemetryTransport.test.ts
  plugins/node/opentelemetry-instrumentation-bunyan/test/bunyan.test.ts
  plugins/node/opentelemetry-instrumentation-pino/test/pino.test.ts
  plugins/node/opentelemetry-instrumentation-winston/README.md
  plugins/node/opentelemetry-instrumentation-winston/test/winston.test.ts
Due: winston-transport, baggage-log-record-processor, instrumentation-winston, instrumentation-pino, instrumentation-bunyan

feat(opentelemetry-sampler-aws-xray): Add Rules Caching and Rules Matching Logic (#2824)
  incubator/opentelemetry-sampler-aws-xray/src/fallback-sampler.ts
  incubator/opentelemetry-sampler-aws-xray/src/remote-sampler.ts
  incubator/opentelemetry-sampler-aws-xray/src/rule-cache.ts
  incubator/opentelemetry-sampler-aws-xray/src/sampling-rule-applier.ts
  incubator/opentelemetry-sampler-aws-xray/src/utils.ts
  incubator/opentelemetry-sampler-aws-xray/test/fallback-sampler.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/remote-sampler.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/rule-cache.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/sampling-rule-applier.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/utils.test.ts
Due: none

update semconv
  plugins/node/instrumentation-sequelize/README.md
  plugins/node/instrumentation-sequelize/src/instrumentation.ts
  plugins/node/instrumentation-sequelize/test/sequelize.test.ts
Due: none

add otel core to deps
  package-lock.json
  plugins/node/instrumentation-sequelize/package.json
Due: none

remove obsolete test file and exports
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/index.ts
  plugins/node/opentelemetry-instrumentation-aws-sdk/test/sqs.test.ts
Due: instrumentation-aws-sdk

mark semconv values as const
  package-lock.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/package.json
  plugins/node/opentelemetry-instrumentation-aws-sdk/src/semconv.ts
Due: instrumentation-aws-sdk

Add minimum token permissions for all github workflow files
  .github/workflows/close-stale.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/component-owners.yml
  .github/workflows/label-prs.yml
  .github/workflows/lint.yml
  .github/workflows/peer-api.yaml
  .github/workflows/pr-title.yml
  .github/workflows/release-please-validate.yaml
  .github/workflows/release-please.yml
  .github/workflows/test-all-versions.pr.yml
  .github/workflows/test-all-versions.push.yml
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
  .github/workflows/update-otel-deps.yaml
Due: none

use proper types, remove unnecessary filter
  plugins/node/instrumentation-sequelize/src/instrumentation.ts
Due: none

use explicit exports
  plugins/node/instrumentation-sequelize/src/index.ts
Due: none

remove final references to the redis-4 instrumentation (from Amir's review)
  .github/component-label-map.yml
  .github/component_owners.yml
  packages/opentelemetry-redis-common/README.md
Due: redis-common

feat(instrumentation-redis)!: consolidate redis v2,3 and redis v4 instrumentation to one package (#2915)
  .github/component-label-map.yml
  .github/component_owners.yml
  .release-please-manifest.json
  metapackages/auto-instrumentations-node/package.json
  metapackages/auto-instrumentations-node/src/utils.ts
  package-lock.json
  packages/opentelemetry-redis-common/README.md
  plugins/node/opentelemetry-instrumentation-redis-4/.eslintignore
  plugins/node/opentelemetry-instrumentation-redis-4/.eslintrc.js
  plugins/node/opentelemetry-instrumentation-redis-4/.tav.yml
  plugins/node/opentelemetry-instrumentation-redis-4/CHANGELOG.md
  plugins/node/opentelemetry-instrumentation-redis-4/LICENSE
  plugins/node/opentelemetry-instrumentation-redis-4/README.md
  plugins/node/opentelemetry-instrumentation-redis-4/package.json
  plugins/node/opentelemetry-instrumentation-redis-4/src/types.ts
  plugins/node/opentelemetry-instrumentation-redis-4/tsconfig.json
  plugins/node/opentelemetry-instrumentation-redis/.tav.yml
  plugins/node/opentelemetry-instrumentation-redis/README.md
  plugins/node/opentelemetry-instrumentation-redis/package.json
  plugins/node/opentelemetry-instrumentation-redis/src/index.ts
  plugins/node/opentelemetry-instrumentation-redis/src/internal-types.ts
  plugins/node/opentelemetry-instrumentation-redis/src/redis.ts
  plugins/node/opentelemetry-instrumentation-redis/src/types.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v2-v3/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v2-v3/internal-types.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v2-v3/utils.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v4/instrumentation.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v4/internal-types.ts
  plugins/node/opentelemetry-instrumentation-redis/src/v4/utils.ts
  plugins/node/opentelemetry-instrumentation-redis/test/v2-v3/redis.test.ts
  plugins/node/opentelemetry-instrumentation-redis/test/v4/redis.test.ts
  plugins/node/opentelemetry-instrumentation-redis/test/v4/utils.ts
  release-please-config.json
Due: redis-common, instrumentation-redis-4, instrumentation-redis, auto-instrumentations-node

feat(opentelemetry-sampler-aws-xray): Add Rate Limiter and Sampling Targets Poller Logic
  incubator/opentelemetry-sampler-aws-xray/src/aws-xray-sampling-client.ts
  incubator/opentelemetry-sampler-aws-xray/src/rate-limiter.ts
  incubator/opentelemetry-sampler-aws-xray/src/rate-limiting-sampler.ts
  incubator/opentelemetry-sampler-aws-xray/src/remote-sampler.ts
  incubator/opentelemetry-sampler-aws-xray/src/rule-cache.ts
  incubator/opentelemetry-sampler-aws-xray/src/sampling-rule-applier.ts
  incubator/opentelemetry-sampler-aws-xray/test/aws-xray-sampling-client.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/rate-limiter.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/rate-limiting-sampler.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/remote-sampler.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/rule-cache.test.ts
Due: none
